@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,900&display=swap');
body {
  background-image: url('https://images.unsplash.com/photo-1520796738119-1bae68104970?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1484&q=80');
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: "Raleway";
  font-size: 15vh !important;
  color: rgb(96, 255, 194);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h2 {
  font-weight: 900 !important;
}
span {
  color: rgb(156, 156, 156) !important;
  text-shadow: none;
}
.container {
  padding: 15px 0;
  background-color: rgba(237, 237, 237, .5);
}
#tricks-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skateboard {
  width: 100px;
}
#result {
  display: none;
  color: red;
}

.skate-letter {
  color: rgb(96, 255, 194);
  font-size: 6em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}