body {
  background-image: url('https://toppng.com/uploads/preview/code-text-colorful-symbols-programming-11570018517ehhiwfnwii.jpg');
  background-size: cover;
}
.container {
  background-color: #eee;
  margin-top: 10vh;
}
.description-style {
  display: none;
}
.description-button {

}
.card {
  max-height: 45vh;
  overflow: scroll;
  text-align: center;
}
#job-description {
  text-align: left;
}
#job-description > h3 {
  text-align: center;
}
#result {
  border: 1px solid #444;
  margin: 0 auto;
}