body {
  height: auto;
}
ul {
  padding: 0;
  list-style-type: none;
}
.container {
  padding-bottom: 7.5vh;
}
footer {
  width: 100vw;
  padding: 10px;
  background-color: #E9ECEF;
  text-align: center;
}
.thumbnail-image {
  width: 100px;
}
.card {
  padding-top: 10px;
}
#form {
  padding: 15px;
}
#recipes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
