body {
  height: auto;
}
.thumbnail-image {
  width: 100px;
  border: 1px solid #444;
}
.card {
  padding-top: 10px;
}
#form {
  padding: 15px;
}

ul {
  padding: 0;
  list-style-type: none;
}

footer {
  width: 100vw;
  padding: 10px;
  background-color: #E9ECEF;
  position: fixed;
  bottom: 0;
  text-align: center;
}